* {
  /* Main settigns */
  box-sizing: border-box;
  position: relative;
  /* Rows */
  /* Small content */
  /* Medium content */
  /* Large content */
  /* Visibility */
}
@media only screen and (max-width: 767px) {
  * .row {
    background-color: #FF0000;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  * .row {
    background-color: #00FF00;
  }
}
@media only screen and (min-width: 1200px) {
  * .row {
    background-color: #0000FF;
  }
}
@media only screen and (max-width: 767px) {
  * .col-sm-1 {
    width: 8.33%;
  }
  * .col-sm-2 {
    width: 16.66%;
  }
  * .col-sm-3 {
    width: 25%;
  }
  * .col-sm-4 {
    width: 33.33%;
  }
  * .col-sm-5 {
    width: 41.66%;
  }
  * .col-sm-6 {
    width: 50%;
  }
  * .col-sm-7 {
    width: 58.33%;
  }
  * .col-sm-8 {
    width: 66.66%;
  }
  * .col-sm-9 {
    width: 75%;
  }
  * .col-sm-10 {
    width: 83.33%;
  }
  * .col-sm-11 {
    width: 91.66%;
  }
  * .col-sm-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  * .col-sm-offset-1 {
    margin-left: 8.33%;
  }
  * .col-sm-offset-2 {
    margin-left: 16.66%;
  }
  * .col-sm-offset-3 {
    margin-left: 25%;
  }
  * .col-sm-offset-4 {
    margin-left: 33.33%;
  }
  * .col-sm-offset-5 {
    margin-left: 41.66%;
  }
  * .col-sm-offset-6 {
    margin-left: 50%;
  }
  * .col-sm-offset-7 {
    margin-left: 58.33%;
  }
  * .col-sm-offset-8 {
    margin-left: 66.66%;
  }
  * .col-sm-offset-9 {
    margin-left: 75%;
  }
  * .col-sm-offset-10 {
    margin-left: 83.33%;
  }
  * .col-sm-offset-11 {
    margin-left: 91.66%;
  }
  * .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  * .col-md-1 {
    width: 8.33%;
  }
  * .col-md-2 {
    width: 16.66%;
  }
  * .col-md-3 {
    width: 25%;
  }
  * .col-md-4 {
    width: 33.33%;
  }
  * .col-md-5 {
    width: 41.66%;
  }
  * .col-md-6 {
    width: 50%;
  }
  * .col-md-7 {
    width: 58.33%;
  }
  * .col-md-8 {
    width: 66.66%;
  }
  * .col-md-9 {
    width: 75%;
  }
  * .col-md-10 {
    width: 83.33%;
  }
  * .col-md-11 {
    width: 91.66%;
  }
  * .col-md-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  * .col-md-offset-1 {
    margin-left: 8.33%;
  }
  * .col-md-offset-2 {
    margin-left: 16.66%;
  }
  * .col-md-offset-3 {
    margin-left: 25%;
  }
  * .col-md-offset-4 {
    margin-left: 33.33%;
  }
  * .col-md-offset-5 {
    margin-left: 41.66%;
  }
  * .col-md-offset-6 {
    margin-left: 50%;
  }
  * .col-md-offset-7 {
    margin-left: 58.33%;
  }
  * .col-md-offset-8 {
    margin-left: 66.66%;
  }
  * .col-md-offset-9 {
    margin-left: 75%;
  }
  * .col-md-offset-10 {
    margin-left: 83.33%;
  }
  * .col-md-offset-11 {
    margin-left: 91.66%;
  }
  * .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  * .col-lg-1 {
    width: 8.33%;
  }
  * .col-lg-2 {
    width: 16.66%;
  }
  * .col-lg-3 {
    width: 25%;
  }
  * .col-lg-4 {
    width: 33.33%;
  }
  * .col-lg-5 {
    width: 41.66%;
  }
  * .col-lg-6 {
    width: 50%;
  }
  * .col-lg-7 {
    width: 58.33%;
  }
  * .col-lg-8 {
    width: 66.66%;
  }
  * .col-lg-9 {
    width: 75%;
  }
  * .col-lg-10 {
    width: 83.33%;
  }
  * .col-lg-11 {
    width: 91.66%;
  }
  * .col-lg-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  * .col-lg-offset-1 {
    margin-left: 8.33%;
  }
  * .col-lg-offset-2 {
    margin-left: 16.66%;
  }
  * .col-lg-offset-3 {
    margin-left: 25%;
  }
  * .col-lg-offset-4 {
    margin-left: 33.33%;
  }
  * .col-lg-offset-5 {
    margin-left: 41.66%;
  }
  * .col-lg-offset-6 {
    margin-left: 50%;
  }
  * .col-lg-offset-7 {
    margin-left: 58.33%;
  }
  * .col-lg-offset-8 {
    margin-left: 66.66%;
  }
  * .col-lg-offset-9 {
    margin-left: 75%;
  }
  * .col-lg-offset-10 {
    margin-left: 83.33%;
  }
  * .col-lg-offset-11 {
    margin-left: 91.66%;
  }
  * .col-lg-offset-12 {
    margin-left: 100%;
  }
}
@media only screen and (max-width: 767px) {
  * .visible-sm {
    display: block !important;
  }
  * .hidden-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  * .visible-md {
    display: block !important;
  }
  * .hidden-md {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  * .visible-lg {
    display: block !important;
  }
  * .hidden-lg {
    display: none !important;
  }
}

